
@{
    ViewBag.Title = "Index";
}

<h2>Claims</h2>

<dl>
    @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
    {
        <dt>
            @claim.Type
        </dt>

        <dd>
            @claim.Value
        </dd>
    }
</dl>
<p>QBO service related calls below-</p>

<p>
    @Html.ActionLink("Call CompanyInfo", "CompanyInfo", "CompanyInfo")
</p>

<p>
    @Html.ActionLink("Reports Workflow", "ReportsWorkflow", "Reports")
</p>

<p>
    @Html.ActionLink("Invoicing Workflow", "InvoicingWorkflow", "Invoicing")
</p>

<p>
    @Html.ActionLink("Jobs Workflow", "JobsWorkflow", "Jobs")
</p>

<p>
    @Html.ActionLink("Accounting Workflow", "AccountingWorkflow", "Accounting")
</p>

<p>
    @Html.ActionLink("Inventory Workflow", "InventoryWorkflow", "Inventory")
</p>

<p>
    @Html.ActionLink("Billing Workflow", "BillingWorkflow", "Billing")
</p>

<p>Token related calls below-</p>

<p>
    @Html.ActionLink("Refresh token", "RefreshToken")
</p>

<p>
    @Html.ActionLink("Revoke access token", "RevokeAccessToken")
</p>

<p>
    @Html.ActionLink("Revoke refresh token", "RevokeRefreshToken")
</p>

